body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

#maze {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 20px;
  height: 20px;
  gap: 1px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wall {
  background-color: black;
}

.path {
  background-color: greenyellow;
}

.player {
  background-color: blue;
  border-radius: 50%;
}

.goal {
  background-color: green;
}
.result {
  margin-top:  20px;
  font-weight: bold;
}
